Presentacion/obj
Negocio/obj
Persistencia/obj
Presentacion/bin
Negocio/bin
Persistencia/bin
Gestion/bin
Gestion/obj
Cliente/bin
Cliente/obj
Gestion/bin
Gestion/obj
_3_Persistencia/obj
_3_Persistencia/bin
04_TipoDeDato/bin
04_TipoDeDato/obj
_3_Persistencia/bin
_3_Persistencia/obj

